<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../global/head", {pageCss: 'camara' }); %>

  <body>
    <%- include("../../partialViews/header"); %> <%-
    include("../../partialViews/navbar", { activeNavItem: "Institucional-Camara"
    }); %>

    <div class="px-5">
      <div
        class="row mx-5 mb-3 pt-0 mt-4 shadow-sm"
        style="background-color: #ebebeb; border-radius: 8px"
      >
        <!-- FILTROS -->
        <div class="container-fluid">
          <div class="row mx-0">
            <div class="col-12 p-5 d-flex justify-content-end">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Pesquisar"
                  aria-label="Pesquisar"
                  aria-describedby="button-addon2"
                />

                <button
                  class="btn btn-outline-primary"
                  type="button"
                  id="button-addon2"
                >
                  <img
                    class="search"
                    src="/img/search.svg"
                    alt=""
                    style="height: 23px"
                  />
                </button>
              </div>
            </div>
          </div>
        </div>

        <!--TABLE-->
        <div class="container-fluid">
          <div
            class="card text m-5 mt-0 d-flex justify-content-center"
            style="border-style: solid; border-color: #0f5132"
          >
            <div
              class="card-header"
              style="background-color: #0f5132; color: white"
            >
              <div class="row">
                <div class="col-12">
                  <h3>Informações sobre o Consórcio</h3>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                CONSÓRCIO DE SAÚDE DA MICRORREGIÃO DE CRATEÚS
              </div>
              <div class="card-body">
                <div class="card-text">
                  <div class="titulo">
                    <p class="card-title text-secondary">
                      Informações de endereço:
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Endereço:</strong> R. Gustavo Barroso, 853 -
                      63700000
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Horário:</strong> 07:00H ÁS 18:00H DE
                      SEGUNDA-FEIRA A SEXTA-FEIRA
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Telefone:</strong> (88) 3691-0617
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>E-mail:</strong> consorcio.crateus@gmail.com
                    </p>
                  </div>
                  <div class="butoes mt-2">
                    <a
                      href="/ouvidoria"
                      target="blank"
                      button
                      type="button"
                      class="btn btn-outline-success"
                      >Ouvidoria</a
                    >
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">POLICLÍNICA RAIMUNDO SOARES RESENDE</div>
              <div class="card-body">
                <div class="card-text">
                  <div class="titulo">
                    <p class="card-title text-secondary">
                      Informações de endereço:
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Endereço:</strong>
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Horário:</strong>
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Telefone:</strong>
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>E-mail:</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                CENTRO DE ESPECIALIDADES ODONTOLOGICAS
              </div>
              <div class="card-body">
                <div class="card-text">
                  <div class="titulo">
                    <p class="card-title text-secondary">
                      Informações de endereço:
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Endereço:</strong>
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Horário:</strong>
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Telefone:</strong>
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>E-mail:</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                CONSÓRCIO PUBLICO DE SAÚDE DA MICROREGIÃO DE CRATEÚS
              </div>
              <div class="card-body">
                <div class="card-text">
                  <div class="titulo">
                    <p class="card-title text-secondary">
                      Informações de endereço:
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Endereço:</strong>
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Horário:</strong>
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Telefone:</strong>
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>E-mail:</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                CONSÓRCIO PÚBLICO DE SAÚDE DA MICRORREGIÃO DE CRATEÚS
              </div>
              <div class="card-body">
                <div class="card-text">
                  <div class="titulo">
                    <p class="card-title text-secondary">
                      Informações de endereço:
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Endereço:</strong>
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Horário:</strong>
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Telefone:</strong>
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>E-mail:</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                CONSÓRCIO PÚBLICO DE SAÚDE DA MICRORREGIÃO DE CRATEÚS - CPSMCR
              </div>
              <div class="card-body">
                <div class="card-text">
                  <div class="titulo">
                    <p class="card-title text-secondary">
                      Informações de endereço:
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Endereço:</strong>
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Horário:</strong>
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>Telefone:</strong>
                    </p>
                  </div>
                  <div class="conteudo">
                    <p class="card-text">
                      <i class="fa fa-square"></i>
                      <strong>E-mail:</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("../../partialViews/footer"); %>
    <script src="/script/user/global/global.js"></script>
  </body>
</html>
