<!DOCTYPE html>
<html lang="pt-br">
  <%- include("../global/head", {pageCss: 'acessibilidade'}); %>

  <body>
    <%- include("../../partialViews/header"); %> <%-
    include("../../partialViews/navbar", { activeNavItem: "Acessibilidade" });
    %>

    <div class="px-5">
      <div
        class="row mx-5 mb-3 pt-0 mt-4 shadow-sm"
        style="background-color: #ebebeb; border-radius: 8px"
      >
        <!--TABLE-->
        <div class="container-fluid">
          <div class="card text m-5 mt-5 d-flex justify-content-center">
            <div class="card">
              <div class="card-header">
                <div class="row">
                  <div class="col-10"><h3>CRATEUS</h3></div>
                  <div class="col-2">
                    <a
                      href="#"
                      class="btn btn-success"
                      aria-current="page"
                      target="_blank"
                      >Site Oficial</a
                    >
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-9">
                    <p class="card-text mb-1 fw-bold">
                      Dados do município/localização
                    </p>
                    <p class="card-text m-0">
                      <i class="fa fa-square"></i>
                      <strong>Fundação:</strong>21/12/1990
                    </p>
                    <p class="card-text m-0">
                      <i class="fa fa-square"></i>
                      <strong>Emancipação Política:</strong>21 DE DEZEMBRO
                    </p>
                    <p class="card-text m-0">
                      <i class="fa fa-square"></i>
                      <strong>Gentílico:</strong>ARARENDAENSE
                    </p>
                    <p class="card-text m-0">
                      <i class="fa fa-square"></i>
                      <strong>Unidade Federatíva:</strong>CE
                    </p>
                    <p class="card-text m-0">
                      <i class="fa fa-square"></i>
                      <strong>Mesoregião:</strong>SERTÕES CEARENSES
                    </p>
                    <p class="card-text m-0">
                      <i class="fa fa-square"></i>
                      <strong>Microregião:</strong>SERTÃO DE CRATEÚS
                    </p>
                  </div>
                  <div class="col-3">
                    <img
                      src="https://cpsmcrateus.ce.gov.br/imagens/arqmunicipios/2/Brasao_ararenda.png"
                      class="rounded float-end text-center"
                      alt="ararenda"
                      style="width: 90%; height: 90%"
                    />
                  </div>
                </div>
              </div>
              <div class="card-body">
                <nav class="navEntes shadow-sm">
                  <div
                    class="nav nav-tabs"
                    id="nav-tab"
                    role="tablist"
                    style="
                      background-color: #0f5132;
                      color: white;
                      border-radius: 5px 5px 0px 0px;
                    "
                  >
                    <button
                      class="nav-link active item-nav-tab"
                      id="nav-home-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#nav-home"
                      type="button"
                      role="tab"
                      aria-controls="nav-home"
                      aria-selected="true"
                    >
                      Sobre
                    </button>
                    <button
                      class="nav-link item-nav-tab"
                      id="nav-profile-tab"
                      data-bs-toggle="tab"
                      data-bs-target="#nav-profile"
                      type="button"
                      role="tab"
                      aria-controls="nav-profile"
                      aria-selected="false"
                    >
                      Mais informações
                    </button>
                  </div>
                  <div class="tab-content" id="nav-tabContent">
                    <div
                      class="tab-pane fade show active"
                      id="nav-home"
                      role="tabpanel"
                      aria-labelledby="nav-home-tab"
                    >
                      <div class="p-3">
                        <p class="fw-bold m-0">Origem</p>
                        <p>
                          O TOPÔNIMO ARARENDÁ OU ARARENA VEM DO TUPI-GUARANI
                          ARARA (PAPAGAIO) MAIS NDA (LUGAR, POUSO) E SIGNIFICA
                          LUGAR DAS ARARAS OU DONDE SE OBTÉM POUSO DOS PAPAGAIOS
                          OU DAS ARARAS. A ALDEIA DOS ÍNDIOS TABAJARA CHAMAVA-SE
                          ARARENA, PORÉM O CAPUCHINHO FRANCÊS CLAUDE D'ABBEVILLE
                          GRAFOU ARARENDÁ EM SUA OBRA "HISTORIE DE LA MISSION
                          DES PÈRES CAPUCINS EN L'ISLE DE MARAGNAN ET TERRES
                          CIRCONVOISINES" (1614), EM PORTUGUÊS: "HISTÓRIA DA
                          MISSÃO DOS PADRES CAPUCHINHOS NA ILHA DE MARANHÃO E
                          TERRAS CIRCUNVIZINHAS".
                          <br /><br />
                          SUA DENOMINAÇÃO ORIGINAL ERA CANABRAVA OU CANABRAVA
                          DOS MOURÕES E, DESDE 1943, ARARENDÁ.[5]
                        </p>
                        <p class="fw-bold m-0">História</p>
                        <p>
                          AS TERRAS AO SOPÉ DA SERRA DE IBIAPABA ERAM HABITADAS
                          POR DIVERSA ETNIAS, ENTRES ELAS OS TABAJARA,[6]
                          TUPINAMBÁ, CARATIÚ.[7] ARARENDÁ ORIGINA-SE DA ALDEIA
                          ARARENA DOS ÍNDIOS TABAJARA, ALDEIA QUE O CAPUCHINHO
                          FRANCÊS CLAUDE DE ABBEVILLE GRAFOU ARARENDÁ. COM A
                          EXPANSÃO DA PECUÁRIA E A DOAÇÃO DE TERRAS VIA
                          SESMARIAS, NA REGIÃO CHEGARAM FAMÍLIAS ORIUNDAS DE
                          PERNAMBUCO, QUE CRIARAM FAZENDAS DE GADOS, QUE
                          CONSOLIDARAM O NÚCLEO URBANO QUE ATUALMENTE CHAMA-SE
                          ARARENDÁ.[5] PROVAVELMENTE AQUI OS JESUÍTAS FRANCISCO
                          PINTO E LUIS FIGUEIRA HOSPEDARAM-SE DURANTE SUAS
                          TENTATIVAS DE °CATEQUIZAR OS ÍNDIOS DA SERRA DA
                          IBIAPABA NO SÉCULO XVII
                        </p>
                        <p class="fw-bold m-0">Cultura</p>
                        <p>
                          OS PRINCIPAIS EVENTOS CULTURAIS SÃO:
                          <br /><br />
                          FESTA DO PADROEIRO SÃO VICENTE DE PAULA (18 DE JULHO).
                          ANIVERSÁRIO DE EMANCIPAÇÃO DO MUNICÍPIO(21 DE
                          DEZEMBRO). FESTAS DOS PADROEIROS (AS) NAS CAPELAS DOS
                          DISTRITOS E LOCALIDADES.
                        </p>
                        <p class="fw-bold m-0">Divisão Política</p>
                        <p>
                          A ADMINISTRAÇÃO MUNICIPAL LOCALIZA-SE NA SEDE,
                          ARARENDÁ[5]
                        </p>
                        <p class="fw-bold m-0">Curiosidades</p>
                        <p>
                          CLIMA
                          <br />
                          TROPICAL QUENTE SEMIÁRIDO COM PLUVIOMETRIA MÉDIA DE
                          697 MM [8] COM CHUVAS CONCENTRADAS DE JANEIRO A
                          ABRIL.[9]
                          <br /><br />
                          HIDROGRAFIA E RECURSOS HÍDRICOS
                          <br />
                          AS PRINCIPAIS FONTES DE ÁGUAS DE ARARENDÁ FAZEM PARTE
                          DA BACIA DO RIO POTI, SENDO OS SUES PRINCIPAIS
                          AFLUENTES O RIO DIAMANTE E OS RIACHOS: DA BARRIGUDA,
                          CANA BRAVA, ITAURU E OLHO D´ÁGUA. AINDA EXISTEM AÇUDES
                          DE PEQUENO PORTE COMO OS: ALTO GRANDE, CARAPINIMA,
                          ITAURU, JOÃO PERIRA, SÃO JOAQUIM, SIRIEMA E
                          VIOLETE,.[10][11]
                          <br /><br />
                          RELEVO E SOLOS AS PRINCIPAIS ELEVAÇÕES SÃO A SERRA DO
                          CEDRO, OS MORROS DO TOMBADOR, DO BENFICA E BALIXTO, O
                          SERROTE DA LAGOA E DO MOLEQUE.
                          <br /><br />
                          VEGETAÇÃO
                          <br />
                          COMPOSTA POR CAATINGA ARBUSTIVA ABERTA E FLORESTA
                          CADUCIFÓLIA ESPINHOSA.
                          <br /><br />
                          SUBDIVISÃO
                          <br />
                          O MUNICÍPIO TEM DOIS DISTRITOS: ARARENDÁ (SEDE) E
                          LAGOA DE SANTO ANTÔNIO[5].
                          <br /><br />
                          ECONOMIA
                          <br />
                          PECUÁRIA E AGRICULTURA DE SUBSISTÊNCIA. OUTRA FONTE DE
                          RENDA É O COMÉRCIO E A REDISTRIBUIÇÃO DE RECURSOS
                          PÚBLICOS NA FORMA DE BENEFÍCIOS.
                        </p>
                      </div>
                    </div>
                    <div
                      class="tab-pane fade"
                      id="nav-profile"
                      role="tabpanel"
                      aria-labelledby="nav-profile-tab"
                    >
                      <div class="p-3">
                        <p class="card-text mb-1 fw-bold">
                          Dados de características geográficas
                        </p>
                        <p class="card-text m-0">
                          <i class="fa fa-square"></i>
                          <strong>Área:</strong>344,13
                        </p>
                        <p class="card-text m-0">
                          <i class="fa fa-square"></i>
                          <strong>População estimada:</strong>10500
                        </p>
                        <p class="card-text m-0">
                          <i class="fa fa-square"></i>
                          <strong>Densidade:</strong>30,50
                        </p>
                        <p class="card-text m-0">
                          <i class="fa fa-square"></i>
                          <strong>Altitude:</strong>380
                        </p>
                        <p class="card-text m-0">
                          <i class="fa fa-square"></i>
                          <strong>Clima:</strong>SEMI-ÁRIDO
                        </p>
                        <p class="card-text m-0">
                          <i class="fa fa-square"></i>
                          <strong>Fuso Horário:</strong>UTC-3
                        </p>
                        <p class="card-text m-0">
                          <i class="fa fa-square"></i>
                          <strong>Distância para a capital (Fortaleza):</strong
                          >332,00
                        </p>
                      </div>
                    </div>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include("../../partialViews/footer"); %>
    <script src="/script/admin/global/global.js"></script>
  </body>

  <style>
    .nav-tabs .item-nav-tab {
      color: white;
      border: none;
    }
    .nav-tabs .nav-link.active {
      background-color: #75b798;
      color: white;
      border: none;
    }
    .nav-tabs .item-nav-tab:hover {
      background-color: #75b798;
      border: none;
    }
    nav .navLicitacao {
      border: none;
    }
    .licitacaoBtnEdit:hover {
      cursor: pointer;
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -o-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
    }
  </style>
</html>
